groups:
    - name: ibm-db2-alerts
      rules:
        - alert: IBMDB2HighLockWaitTime
          annotations:
            description: The average amount of time waiting for locks to become free is {{$labels.value}}ms for {{$labels.database_name}} which is above the threshold of 2000ms.
            summary: The average amount of time waiting for locks to become free is abnormally large.
          expr: |
            sum without (job) (ibm_db2_lock_wait_time) > 2000
          for: 5m
          labels:
            severity: warning
        - alert: IBMDB2HighNumberOfDeadlocks
          annotations:
            description: The number of deadlocks is at {{$labels.value}} for {{$labels.database_name}} which is above the threshold of 5.
            summary: There are deadlocks occurring in the database.
          expr: |
            sum without (job) (increase(ibm_db2_deadlock_total[5m])) > 5
          for: 5m
          labels:
            severity: critical
        - alert: IBMDB2LogUsageReachingLimit
          annotations:
            description: The amount of log space being used by the DB2 instance is at {{$labels.value}}% which is above the threshold of 90%.
            summary: The amount of log space available for the DB2 instance is running out of space, rotate logs or delete unnecessary storage usage.
          expr: |
            100 * sum without (job,log_usage_type) (ibm_db2_log_usage{log_usage_type="used"}) / sum without (job,log_usage_type) (ibm_db2_log_usage{log_usage_type="available"}) > 90
          for: 5m
          labels:
            severity: warning
