name: build
on:
  pull_request:
    
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'

      - name: build image
        run:
          docker build . -t imagename